/* .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.swine-image {
  width: 275px;
  float: left;
  shape-outside: square;
  margin-right: 1rem;
  /* margin-bottom: 1rem; */
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}

.swine-image-two {
  width: 275px;
  float: right;
  shape-outside: square;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* margin: auto; 
  width: 50%; 
  padding: 1rem; */
}

.chartBox {
  width: 100%;
  padding: 20px 10px 30px 10px;
  border-radius: 20px;
  border: solid 1px rgba(54, 162, 235, 1);
  background: white;
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
  height: 300px;
}

.chartCard {
  /* width: 100vw; */
  /* height: calc(100vh - 40px); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.chartCard2 {
  /* width: 100vw; */
  /* height: calc(100vh - 40px); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartBox2 {
  width: 100%;
  min-height: 15rem;
  /* height: 20rem; */
  /* padding: 5px; */
  border-radius: 20px;
  border: solid 1px rgba(54, 162, 235, 1);
  background: white;
  /* margin-top: 2rem; */
  height: 300px;
}

#discussionTitle {
  margin-top: 2rem;
}

/* table */
table {
  width: 100%;
  border: 1px solid;
  border-bottom: 2px solid black;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#content,
#content2 {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

/* .wrapper1,
.wrapper2 {
  width: 1200px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.wrapper1 {
  height: 20px;
}
.wrapper2 {
  height: 2000px;
}

.div1 {
  width: 1500px;
  height: 2000px;
}

.div2 {
  width: 1500px;
  height: 2000px;
  background-color: #88ff88;
  overflow: auto;
} */

.headline-with-line {
  position: relative; /* Essential for positioning the pseudo-element */
  padding-bottom: 10px; /* Add space for the line */
}

.headline-with-line::after {
  content: ''; /* Required for pseudo-elements */
  display: block; /* Makes the pseudo-element a block-level element */
  height: 2px; /* Thickness of the line */
  width: 100%; /* Width of the line, adjust as needed */
  background-color: orange; /* Color of the line */
  position: absolute; /* Position relative to the parent (.headline-with-line) */
  bottom: 0; /* Place the line at the bottom of the headline */
  left: 0; /* Align the line to the left */
}

.wrapper1 {
  margin-top: 2rem;
}

/* changes to css */
